In [ ]:
import pandas as pd

df = pd.read_csv("/content/Monitoreo_Agua_Agua_superficial_1.csv")
df.head(20)

,TXORIGEN,ANHO,MES,EXPEDIENTE,CUC,COORDINACION,FECHAINI,FECHAFIN,TXUBIGEO,TXZONA,...,SIGNO_PARAMETRO,UNIDAD_MEDIDA_PARAMETRO,RS,OTROS,BTEX,Hidrocarburos.Aromáticos.Policíclicos.PAH,Metales.Disueltos,Metales.Disueltos.por.ICP.MS.incluido.Hg,Metales.Totales,Metales.Totales.por.ICP.MS.incluido.Hg
0,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,2.23,NaN,NaN,NaN,NaN,NaN,NaN
1,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,3.77,NaN,NaN,NaN,NaN,NaN,NaN
2,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,5.00,NaN,NaN,NaN,NaN,NaN,NaN
3,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,26.00,NaN,NaN,NaN,NaN,NaN,NaN
4,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,1.2470,NaN
5,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,<,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0060,NaN
6,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,<,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0080,NaN
7,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.2155,NaN
8,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,<,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0003,NaN
9,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,NaN,NaN,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
10,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,<,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0300,NaN
11,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,<,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0004,NaN
12,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,3.1000,NaN
13,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0022,NaN
14,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0030,NaN
15,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,<,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0004,NaN
16,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0019,NaN
17,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,<,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0020,NaN
18,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,=,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0210,NaN
19,INAF,2014,MARZO,NaN,0029-3-2014-13,Hidrocarburos,2014-03-24,2014-03-31,"LORETO, DATEM DEL MARAÑON, ANDOAS / LORETO, LO...",18.0,...,<,mg/L,'02-2014,NaN,NaN,NaN,NaN,NaN,0.0100,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653092 entries, 0 to 653091
Data columns (total 30 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   TXORIGEN                                   653092 non-null  object
 1   ANHO                                       653092 non-null  int64
 2   MES                                        653092 non-null  object
 3   EXPEDIENTE                                 487370 non-null  object
 4   CUC                                        653092 non-null  object
 5   COORDINACION                               653092 non-null  object
 6   FECHAINI                                   653092 non-null  object
 7   FECHAFIN                                   653092 non-null  object
 8   TXUBIGEO                                   649167 non-null  object
 9   TXZONA                                     653030 non-null  float64
 10  COORD_NORTE                                653030 non-null  float64
 11  COORD_ESTE                                 653030 non-null  float64
 12  PUNTO_MUESTREO                             653092 non-null  object
 13  TIPO_PUNTO                                 343265 non-null  object
 14  FECHA_PTO                                  652563 non-null  object
 15  HORA_PTO                                   651861 non-null  object
 16  LABORATORIO.ANONIMIZADO                    653092 non-null  object
 17  TAREA_TDR                                  653092 non-null  object
 18  MATRIZ                                     653092 non-null  object
 19  PARAMETRO                                  653092 non-null  object
 20  SIGNO_PARAMETRO                            633853 non-null  object
 21  UNIDAD_MEDIDA_PARAMETRO                    633837 non-null  object
 22  RS                                         624848 non-null  object
 23  OTROS                                      57593 non-null   float64
 24  BTEX                                       6594 non-null    float64
 25  Hidrocarburos.Aromáticos.Policíclicos.PAH  22208 non-null   float64
 26  Metales.Disueltos                          10309 non-null   float64
 27  Metales.Disueltos.por.ICP.MS.incluido.Hg   5848 non-null    float64
 28  Metales.Totales                            374476 non-null  float64
 29  Metales.Totales.por.ICP.MS.incluido.Hg     176064 non-null  float64
dtypes: float64(10), int64(1), object(19)
memory usage: 149.5+ MB

In [ ]:
import pandas as pd
import numpy as np
import unicodedata
from pathlib import Path

CSV_PATH = "/content/Monitoreo_Agua_Agua_superficial_1.csv"
OUT_DIR = Path("/content/json_out")
OUT_DIR.mkdir(parents=True, exist_ok=True)

def strip_accents(s: str) -> str:
    s = unicodedata.normalize("NFKD", s)
    return "".join(ch for ch in s if not unicodedata.combining(ch))

def normalize_col(name: str) -> str:
    name = strip_accents(name)
    name = name.strip().lower()
    name = name.replace(".", "_").replace("-", "_").replace(" ", "_")
    while "__" in name:
        name = name.replace("__", "_")
    name = "".join(ch for ch in name if (ch.isalnum() or ch == "_"))
    return name

def clean_str_series(s: pd.Series) -> pd.Series:
    s = s.astype("string")
    s = s.str.strip()
    s = s.replace({"-": pd.NA, "": pd.NA})
    return s

def to_float_series(s: pd.Series) -> pd.Series:
    s = s.astype("string")
    s = s.str.replace(",", ".", regex=False)
    s = s.str.replace(r"[^0-9\.\-]+", "", regex=True)
    return pd.to_numeric(s, errors="coerce")

df = pd.read_csv(CSV_PATH, low_memory=False)

df.columns = [normalize_col(c) for c in df.columns]

text_cols = [
    "txorigen","mes","expediente","cuc","coordinacion","txubigeo","punto_muestreo","tipo_punto",
    "laboratorio_anonimizado","tarea_tdr","matriz","parametro","signo_parametro","unidad_medida_parametro","rs"
]
for c in text_cols:
    if c in df.columns:
        df[c] = clean_str_series(df[c])

date_cols = ["fechaini","fechafin","fecha_pto"]
for c in date_cols:
    if c in df.columns:
        df[c] = pd.to_datetime(df[c], errors="coerce", dayfirst=True)

if "hora_pto" in df.columns:
    df["hora_pto"] = clean_str_series(df["hora_pto"])

numeric_cols = [
    "anho","txzona","coord_norte","coord_este",
    "otros","btex",
    "hidrocarburos_aromaticos_policiclicos_pah",
    "metales_disueltos",
    "metales_disueltos_por_icp_ms_incluido_hg",
    "metales_totales",
    "metales_totales_por_icp_ms_incluido_hg",
]
for c in numeric_cols:
    if c in df.columns:
        df[c] = to_float_series(df[c])

if "anho" in df.columns:
    df["anho"] = df["anho"].astype("Int64")

if "txzona" in df.columns:
    df["txzona"] = df["txzona"].astype("Int64")


if "mes" in df.columns:
    mes_norm = df["mes"].astype("string").fillna(pd.NA)
    mes_norm = mes_norm.map(lambda x: strip_accents(x).upper() if pd.notna(x) else x)

    mes_map = {
        "ENERO": 1, "FEBRERO": 2, "MARZO": 3, "ABRIL": 4, "MAYO": 5, "JUNIO": 6,
        "JULIO": 7, "AGOSTO": 8, "SETIEMBRE": 9, "SEPTIEMBRE": 9,
        "OCTUBRE": 10, "NOVIEMBRE": 11, "DICIEMBRE": 12
    }
    df["mes_num"] = mes_norm.map(mes_map).astype("Int64")


value_cols = [
    "otros","btex",
    "hidrocarburos_aromaticos_policiclicos_pah",
    "metales_disueltos",
    "metales_disueltos_por_icp_ms_incluido_hg",
    "metales_totales",
    "metales_totales_por_icp_ms_incluido_hg",
]
value_cols = [c for c in value_cols if c in df.columns]

arr = df[value_cols].to_numpy(dtype="float64")  # NaN donde no hay dato
mask = ~np.isnan(arr)
has_val = mask.any(axis=1)

first_idx = mask.argmax(axis=1)  # si no hay ninguno, devuelve 0 (lo corregimos con has_val)
tipo_muestra = np.array(value_cols, dtype="object")[first_idx]
resultado = arr[np.arange(len(df)), first_idx]

tipo_muestra = pd.Series(tipo_muestra, index=df.index, dtype="string")
resultado = pd.Series(resultado, index=df.index)

tipo_muestra = tipo_muestra.where(has_val, pd.NA)
resultado = resultado.where(has_val, np.nan)

df["tipo_muestra"] = tipo_muestra
df["resultado"] = resultado

dfm = df[df["resultado"].notna()].copy()

point_key_cols = ["punto_muestreo","tipo_punto","txubigeo","txzona","coord_norte","coord_este"]
point_key_cols = [c for c in point_key_cols if c in dfm.columns]

dim_puntos = dfm[point_key_cols].drop_duplicates().reset_index(drop=True)
dim_puntos["point_id"] = np.arange(1, len(dim_puntos) + 1, dtype=np.int64)

dfm = dfm.merge(dim_puntos, on=point_key_cols, how="left")


dfm["campaign_id"] = dfm["cuc"].astype("string")

camp_cols = [
    "campaign_id","cuc","expediente","txorigen","coordinacion",
    "fechaini","fechafin","anho","mes","mes_num",
    "tarea_tdr","matriz","laboratorio_anonimizado","rs"
]
camp_cols = [c for c in camp_cols if c in dfm.columns]

dim_campanas = dfm[camp_cols].drop_duplicates(subset=["campaign_id"]).reset_index(drop=True)


fact_cols = [
    "campaign_id","point_id","fecha_pto","hora_pto",
    "parametro","signo_parametro","unidad_medida_parametro",
    "tipo_muestra","resultado"
]
fact_cols = [c for c in fact_cols if c in dfm.columns]

fact_mediciones = dfm[fact_cols].copy()
fact_mediciones = fact_mediciones.reset_index(drop=True)
fact_mediciones["measurement_id"] = np.arange(1, len(fact_mediciones) + 1, dtype=np.int64)

dim_puntos_out = OUT_DIR / "dim_puntos.json"
dim_campanas_out = OUT_DIR / "dim_campanas.json"
fact_mediciones_out = OUT_DIR / "fact_mediciones.json"

dim_puntos.to_json(dim_puntos_out, orient="records", lines=True, force_ascii=False, date_format="iso")
dim_campanas.to_json(dim_campanas_out, orient="records", lines=True, force_ascii=False, date_format="iso")
fact_mediciones.to_json(fact_mediciones_out, orient="records", lines=True, force_ascii=False, date_format="iso")

print("JSON generados en:", OUT_DIR)
print("dim_puntos:", dim_puntos_out)
print("dim_campanas:", dim_campanas_out)
print("fact_mediciones:", fact_mediciones_out)

/tmp/ipython-input-2254642708.py:71: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df[c] = pd.to_datetime(df[c], errors="coerce", dayfirst=True)
/tmp/ipython-input-2254642708.py:71: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df[c] = pd.to_datetime(df[c], errors="coerce", dayfirst=True)
/tmp/ipython-input-2254642708.py:71: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df[c] = pd.to_datetime(df[c], errors="coerce", dayfirst=True)

OK ✅ JSON generados en: /content/json_out
dim_puntos: /content/json_out/dim_puntos.json
dim_campanas: /content/json_out/dim_campanas.json
fact_mediciones: /content/json_out/fact_mediciones.json
dim_puntos: 17578
dim_campanas: 3264
fact_mediciones: 596629